.title-education{
    margin-top: 0;
    margin-bottom: 3rem;
    font-family: var(--font-titles);
    text-align: center;
}

.container-study{
    margin-bottom: 2rem;
}

.study{
    margin: 0;
    font-family: var(--font-titles);
    font-size: 15px;
    text-align: center;
}

.date{
    display: block;
    font-family: var(--font-text);
    font-size: 13px;
    font-style: italic;
    text-align: center;
}

