.container-experience{

}

.title-experience{
    margin-top: 0;
    margin-bottom: 1rem;
    font-family: var(--font-titles);
    text-align: center;
}

.title-web-works{
    margin: 0;
    font-family: var(--font-titles);
}

.container-web-developer{
    margin: 0.3rem 0;
}

.text-experience{
    margin: 0.5rem 0;
    font-family: var(--font-text);
    font-size: 15px;
    text-align: justify;
}

.container-works{
    margin-bottom: .5rem;
}

.text-works{
    display: block;
    text-align: center;
    font-family: var(--font-text);
    font-style: italic;
    font-size: 15px;
    font-weight: bold;
}